<?xml version="1.0" ?>
<root>

	<routes>

        <route match="admin_panel" controller="index" action="home" module="dez-admin" >
            <route
                    match="{controllerName|str}-{actionName|str}.php"
                    controller="index"
                    action="process"
                    module="dez-admin"
                    method="get" />
           <route
                    match="{controllerName|str}-{actionName|str}.php"
                    controller="index"
                    action="processPost"
                    module="dez-admin"
                    method="post" />
        </route>

        <!-- Dev Tasker API -->
        <route match="api" controller="index" action="notFound" module="dev-tasker">
            <route match="v1.0" controller="index" action="notFound">

                <route match="auth" controller="auth" action="process" />

                <route match="users" controller="user" action="list" >
                    <route match="{id|num}" controller="user" action="item" />
                </route>

            </route>
        </route>
        <!-- Dev Tasker API END -->

	</routes>
	
	<system>
		<route match="index" controller="index" action="index" />
		<route match="error404" controller="index" action="page404" />
	</system>

</root>
